{% extends "layout.html" %}

{% block body %}
<section id="about" class="secondarySection" style="background-color: white;">
        <div class="container">
            <div class="row" style="margin-bottom:50px;" >
                <div class="col-md-6">
                    <h6 style="color: blue;" data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500"><b>GALLERY</b></h6>
                    <h1 data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" class="support-row-header">End Time Bible Projects For Christ</h1>
                    <br/>
                </div>
                <div class="col-md-6">
                    <div class="buttonRow">
                        <button class="primaryButton" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500">Donate Now</button>
                        <button class="secondaryButton" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="50" style="color: blue; background-color: white; border: 1px solid rgba(0, 0, 255, 0.425); ">About us</button>
                    </div>
                </div>
            </div>
            <div id="gallery" class="row">
                <!-- <div class="col-md-6">
                    <p data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" class="support">                            
                        You can use your iPads and phones for your private/personal Bible study for your convenience but please save the holy Bible from going into extinction by going with it to church services and fellowships and God will bless you. </p>
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal1.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div> -->
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal2.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal3.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal4.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal5.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal6.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}