<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.png')}}" type="image/gif" sizes="16x16">
    <!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css">  -->
<link rel="preconnect" href="https://fonts.googleapis.com">   
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>EBPTC</title>
  </head>
  <body class="body">
    <nav class="border-bottom navbar navbar-expand-lg navbar-light bg-white" >
        <a class="navbar-brand" href="#">
            <h6 class="header" style="margin: 0; font-weight: bold; ">
            <!-- <i class="fa fa-heart-o" aria-hidden="true"></i> -->
              EndTime Bible Project For Christ</a>
      </h6>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav py-3 mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
          <button class="primaryButton" type="submit">Donate now</button>
      </div>
    </nav>
    <!-- {% block body %} -->
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr class="header-line">
                    <h1 data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" class="heading" style="font-family: 'Poppins', sans-serif;">Giving help to those who need it</h1>
                    <h6 data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="700" data-aos-delay="200" class="support-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem recusandae nam rerum assumenda in maiores ut unde.
                    </h6>
                    <div class="buttonRow">
                        <button data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" class="primaryButton">Donate Now</button>
                        <button data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="50" class="secondaryButton">About our charity</button>
                    </div>

                </div>
                <div class="col">
                    <img data-aos="fade-zoom-in" data-aos-easing="ease-in" data-aos-duration="500" src="../static/img/school.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="height: 100%; object-fit: cover; border-radius: 10px; margin-top: 10px;" alt="">
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 100px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500">
                    <h1 class="support-row-header">200<span class="support-row-span">m</span></h1>
                    <h6 class="support">Humans impacted</h6>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100">
                    <h1 class="support-row-header">50<span class="support-row-span">k</span></h1>
                    <h6 class="support">Collaborators</h6>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="200">
                    <h1 class="support-row-header">370<span class="support-row-span">k</span></h1>
                    <h6 class="support">Donations</h6>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="300">
                    <h1 class="support-row-header">100<span class="support-row-span">+</span></h1>
                    <h6 class="support">Assisted communities</h6>
                </div>
                
            </div>
        </div>
    </section>


    <section class="secondarySection" data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="small-header">Bible quote for the day.</h6>
                    <h1 class="header" style="font-weight: bold;">James 1:34</h1>
                    <h6>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iste accusamus doloribus eligendi ratione reiciendis vel eaque eum rerum doloremque eius officiis dolorem, unde laudantium perferendis ea vero consectetur quia?
                    </h6>
                    <br/>
                    <button class="primaryButton">Read More</button>
                </div>
            </div>
        </div>
    </section>

    <section class="secondarySection" style="background-color: white;">
        <div class="container">
            <div class="row" >
                <div class="col">
                    <h6 style="color: blue;" data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500"><b>ABOUT US</b></h6>
                    <h1 data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" class="support-row-header">We are here to support vulnerable communities</h1>
                    <br/>
                </div>
                <div class="col">
                    <div class="buttonRow">
                        <button class="primaryButton" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500">Donate Now</button>
                        <button class="secondaryButton" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="50" style="color: blue; background-color: white; border: 1px solid rgba(0, 0, 255, 0.425); ">About us</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" class="support">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere assumenda tenetur laboriosam quisquam officia cumque ullam illo laudantium neque debitis, odit perferendis optio ex, sed hic. Recusandae et dolores amet?</p>
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal1.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal2.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal3.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal4.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal5.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
                <div class="col-md-6">
                    <img data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" src="../static/img/gal6.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} imageGalleryClass" alt="">
                </div>
            </div>
        </div>
    </section>

    <section style="margin: 100px auto; ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="small-header">OUR RESULTS</b></h6>
                    <h2 class="support-row-header">
                        Take a look at the big impact we have done
                    </h2>
                    <div class="row" style="margin: 40px 0;">
                        <div class="col-md-6">
                            <div class="resultCard">
                                <div class="iconBg">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <h4 class="support-row-header">500m</h4>
                                    <h6 class="support">Litres of water</h6>
                                </div> 
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="resultCard">
                                <div class="iconBg">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <h4 class="support-row-header">7000+</h4>
                                    <h6 class="support">Bibles shared</h6>
                                </div> 
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="resultCard">
                                <div class="iconBg">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <h4 class="support-row-header">7000+</h4>
                                    <h6 class="support">Bibles shared</h6>
                                </div> 
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="resultCard">
                                <div class="iconBg">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <h4 class="support-row-header">7000+</h4>
                                    <h6 class="support">Bibles shared</h6>
                                </div> 
                            </div>
                        </div>

                        <button class="primaryButton">Donate now</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../static/img/school.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="object-fit: cover; border-radius: 10px; margin-top: 10px;" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="secondarySection">
        <div style="text-align: center;">
        <h6 class="small-header">TAKE A LOOK AT OUR TEAM</h6>
        <h4 style="font-weight: bold;">We have helped over 200 vulnerable communities worldwide</h4>
        <div style="margin: auto; width: fit-content; margin-top: 30px;" class="buttonRow">
            <button class="primaryButton">
                Donate now
            </button>
            <button class="secondaryButton">
                BECOME A MEMBER
            </button>
        </div>
    </div>

    <div class="container" >
        <div class="row" style="margin: 100px auto;"  >
            <div class="col-md-6">
                <img src="../static/img/gal1.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="object-fit: cover; border-radius: 10px; margin-top: 10px;" alt="">
            </div> 
            <div class="col-md-6">

                    <h6 style="color: blue;" data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500"><b>PRESIDENT</b></h6>
                    <h1 data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" class="support-row-header">Mr. Sam</h1>
                    <hr>
                    <p data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100" class="support">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti placeat et vero rem, sapiente consequatur eius excepturi nesciunt exercitationem id repellendus minus quod dolor aperiam nobis alias, totam, magni earum!</p>
                    <br/>
            </div>
            </div>
        </div>

    </div>
</section>

<section class="primarySection">

    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="support-row-header">Our Mision</h4>
                <br/>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolore, temporibus, ex nihil deleniti dolores, laborum eveniet eum veniam amet eius. Nulla quod aspernatur totam adipisci assumenda reiciendis quas dolore.</p>
            </div>
            <div class="col">
                <h4 class="support-row-header">Our Vision</h4>
                <br/>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolore, temporibus, ex nihil deleniti dolores, laborum eveniet eum veniam amet eius. Nulla quod aspernatur totam adipisci assumenda reiciendis quas dolore.</p>
            </div>
        </div>
    </div>
</section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="small-header" style="color:white">EndTime Bible Project For Christ</h5>
                    <hr style="background-color: white;">
                    <p>EBPTC tag line.</p>
                </div>
                <div class="col">
                    <ul>
                        <li>One</li>
                        <li>One</li>
                        <li>One</li>
                        <li>One</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>One</li>
                        <li>One</li>
                        <li>One</li>
                        <li>One</li>
                    </ul>
                </div>

                <div class="col">
                    Join Us.
                </div>
            </div>
        </div>
       
    </footer>

    <!-- {% endblock %} -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>