{% extends "layout.html" %}
    

{% block body %}
    <section class="primarySection">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <h1 data-aos="fade-in" data-aos-easing="ease-in" data-aos-duration="500" class="heading" style="font-family: 'Poppins', sans-serif;">Thank you<br/> <span style="color: blue;">Nana Kweku</span> <br/> for Donating to <br/> <span style="color: blue;"> The EndTime Bible Project</span></h1>
                    <h6 class="text-muted">We appreciate you taking your time to donate to our endtime bible project.</h6>
                    <hr class="header-line-middle">

                    <div class="buttonRow-middle" style="margin: auto;">
                        <button data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" class="primaryButton">Upload New Scripture Reading</button>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
    </section>


    {% endblock %}
