{% extends "layout.html" %}

{% block body %}

<section style="margin-top: 100px; padding-bottom: 100px;">
    <div class="container" style="margin-bottom: 5vh;  border-bottom: 1px solid rgb(226, 226, 226);">
        <h2 class="small-heading" style="text-align: center; font-weight: bold; color: blue;">July 2021</h2>
        <div class="row" style="margin: 40px auto;">
            <div class="col-md-3 dataCard" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500">
                <h1 class="support-row-header">200<span class="support-row-span">m</span></h1>
                <h6 class="support">Amount Recieved</h6>
            </div>
            <div class="col-md-3 dataCard" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="100">
                <h1 class="support-row-header">50<span class="support-row-span">k</span></h1>
                <h6 class="support">Bibles Bought</h6>
            </div>
            <div class="col-md-3 dataCard" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="200">
                <h1 class="support-row-header">370
                    <!-- <span class="support-row-span">k</span> -->
                </h1>
                <h6 class="support">Organisations visited</h6>
            </div>
            <div class="col-md-3 dataCard" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="300">
                <h1 class="support-row-header">100<span class="support-row-span">+</span></h1>
                <h6 class="support">Assisted communities</h6>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}